body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 60px 20px;
    /*background: linear-gradient(135deg, #6a82fb, #fc5c7d); /* Modern gradient background */
    /*color: white; /* Change text color for better contrast */
}

h1 {
    font-size: 2.5em;
    color: #c74862;
    left: 50%;
    top: 0;
    position: absolute;
}

h2 {
    font-size: 2.5em;
    color: #7b68b1;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.project-card:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.app-icon {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.app-store-badge img {
    height: 40px;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Background Geometric Shapes */
body {
    position: relative;
    background-color: #f4f4f4;
}

body::before,
body::after {
    content: '';
    position: absolute;
    z-index: -1;
}

body::before {
    top: 100px;
    left: -50px;
    width: 300px;
    height: 300px;
    background: rgba(106, 130, 251, 0.4);
    border-radius: 50%;
}

body::after {
    bottom: 100px;
    right: -50px;
    width: 400px;
    height: 400px;
    background: rgba(252, 92, 125, 0.4);
    border-radius: 50%;
}

.portfolio-grid {
    position: relative;
    z-index: 1;
}